@font-face {
	font-family: "Open Sans";
	src: url("fonts/Open Sans regular.ttf");
}
*{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}
body{
	/*background-color: red;*/
}
footer{
	background-color: #3F434D;
	color: white;
	height: 15%;
	margin-bottom: 0;
	margin-top: 1.5em;
	max-height: 15%;
	padding: 1.2em 4em;
}

.clear{
	clear: both;
}
.movielement{
	border-radius: 0.6em;
	background-color: black;
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	color: white;
	display:inline-block;
	min-height: 10em;
	margin: 0 1.5em;
	margin-top: 2em;
	max-width: 10em;
	opacity: 0.8;
	padding: 0.5em;
	position: relative;
	text-shadow: 0 0 3px #000;
	width: 10em;
}
.movielement > div > div > img{
	cursor: pointer;
}
.movielement:hover{
	border: 0.3em solid #cc0000;
	opacity: 1;
}
.info-item{
	display: inline;
	padding-left: 1.2em;
}
.info-title{
	color: white;
	font-weight: bold;
}
.info-data{
	color: #cc0000;
}
.el-top{
	
}
.el-top-left,.el-top-right{
	display: inline-block;
	width: 50%;
}
.el-top-right{
	float: right;
	text-align: right;
}
.el-bottom{
	bottom: 1em;
	cursor: pointer;
	display: block;
	position: absolute;
	text-align: center;
	width: 90%;
}

#mainheader{
	background-color: #FAFAFA;
	height: 5%;
	max-height: 5%;
	padding: 0.5em;
	position: fixed;
	top: 0;
	vertical-align: middle;
	width: 100%;
	z-index: 9;
}
#logo{
	cursor: pointer;
	display: inline-block;
	max-width: 23%;
	padding-left: 2em;
	width: 23%;
}
#mainbar{
	cursor: pointer;
	display: inline-block;
	margin: 0 auto;
	max-width: 45%;
	text-align: center;
	width: 45%;
}
#mainbar > img{
	padding: 0 0.5em 0 0.5em;
}
#userdiv{
	display: inline-block;
	max-width: 25%;
	padding-right: 0.7em;
	text-align: right;
	width: 25%;
}
#userdiv > img{
	background-color: transparent;
	cursor: pointer;
	vertical-align:middle;
}
#container{
	overflow: hidden;
	width: 100%;
}
#topview{
	height: 35%;
	margin-top: 3.2em;
	position: relative;
	width: 100%;
}
#topview > img{
	height: 15%;
}
#topview,#mainview{
	padding-left: 0;
	padding-right: 0;
}
#mainview{
	height: 45%;
	max-height: 45%;
	margin: 0 auto;
	width: 85%;
}
#centerimg{
	/*height: 95%;
	max-width: 100%;*/
	overflow: hidden;
}
#infomov{
	background-color: black;
	bottom: 0.1em;
	height: 5%;
	opacity: 0.7;
	padding: 0.5em;
	padding-left: 2em;
	padding-right: 0;
	padding-top: 1.4em;
	position: absolute;
	width: 97.65%;
}
#info-right{
	color: white;
	float: right;
	font-weight: bold;
	padding-right: 1em;
}
#info-right > img{
	background-color: transparent;
	padding-right: 0.5em;
}
#newreleases-head{
	margin: 1.4em;
}
#title-release{
	float: left;
	font-style: italic;
}
#search-release{
	float: right;
}
#search-release > input[type=text]{
	background-image: url(../img/glass.png);
	background-position: 99% 35%;
	background-repeat: no-repeat;
	border: 0 none;
	border-bottom: 0.1em solid;
	font-style: italic;
}
#search-release > img{
	cursor: pointer;
}
#favorites{
	margin-top: 3.5em !important;
}
#favorites-head{
	font-style: italic;
	margin: 1.4em;
}
#logof{
	cursor: pointer;
	float: right;
	padding-right: 2em;
}
#titlemov{
	color: white;
	font-size: 4em;
	max-width: 7em;
	position: absolute;
	right: 15%;
	text-align: right;
	text-shadow: 0 0 3px #000;
	top: 15%;
}
#modal{
	display: none;
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 10;
}
#modalbox{
	background-color: white;
	margin: 1% auto;
	width: 50%;
	z-index: 11;
}
#modal-head{
	font-weight: bold;
	padding: 1.5em;
}
#modal-video{
	background-color: black;
	text-align: center;
}
#modal-close{
	cursor: pointer;
	float: right;
}
#modal-footer{
	padding: 1.5em;
}
#modal-similar{
	max-width: 100%;
	overflow: auto;
}
#modal-similar-list{
	margin-left: -1em;
	width: 110%;
}

@media screen and (max-width: 360px) {
	#mainheader{
		padding-bottom: 3em;
	}
	#logo,#userdiv{
		min-width: 100%;
	}
	#logo{
		display: block;
	}
	#logo > img{
		width: auto;
	}
	#mainbar > img{
		padding: 0;
	}
	#mainbar,#userdiv{
		display: inline;
	}
}